<ion-content>
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="middle">
        <ion-back-button></ion-back-button>
      </ion-buttons>
     
    </ion-toolbar>
  </ion-header> 
  <img src="assets/icon.png" class="center" md> 
  <ion-card>
    <form (ngSubmit)="login()" >
      <div class="card-header">
        <ion-img src="./../assets/goods-in-transit.jpg"></ion-img>
      </div>
      <ion-card-content>
        <ion-item>
          <ion-label class="label" position="fixed" stacked>Username</ion-label>
          <ion-input color="dark" class="input" required [(ngModel)]="username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label" position="fixed" stacked>Password</ion-label>
          <ion-input color="dark" class="input" type="password" required [(ngModel)]="password" name="password">
          </ion-input>
        </ion-item>

        <div text-center margin-top>
          <ion-button class="login" type="submit" expand="block">Sign In</ion-button>

        </div>
      </ion-card-content>
    </form>
  </ion-card>

</ion-content>