<ion-content>
  <ion-slide>
    <div class="body container">
			<div class="card">
				<div class="card-header">
          <!--Imagem veio daqui: https://www.giz.de/en/worldwide/80051.html-->
          <ion-img  src="./../assets/img/containers_rdax_782x521.jpg"></ion-img>
				</div>
				<div class="card-body">
					<span class="tag tag-teal">SIGMAT</span>
          <h4 class="ion-text-justify"> Promoting Trade in West Africa II (WATIP II)</h4>
          <div class="ion-text-justify">
            
					    <small >The project is part of the Trade Facilitation West Africa Programme (TFWA) and 
                is being financed by the European Union (15 million Euro) and the German Federal 
                Ministry for Economic Cooperation and Development (BMZ) (4 million Euro).
              </small>
              <p></p>
          </div>
          <div class="user">
						<img src="./../assets/img/user-1.jpg" alt="user 1" />
						<div class="user-info">
							<small>GIZ/ECOWAS</small>
							<!-- <small>2h ago</small>-->
						</div>
					</div>
				</div>
      </div>
    </div>
  </ion-slide>
 <!--
  <ion-slide>
    <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
      <ion-icon ios="ios-trophy" md="md-trophy" color="primary"></ion-icon>
    </div>
    <div >
      <h2>set personal goals</h2>
      <h4>Why is the Tesla Cybertruck designed the way it is?</h4>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="diag" style="background: url('assets/img/whitebg.svg') no-repeat">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes" color="primary"></ion-icon>
    </div>
    <div>
      <h2>chat with others</h2>
      <p>inspire and help each other reach fitness and diet goals.</p>
    </div>
  </ion-slide> 
  
  
-->
  <button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>
