// deposi passar mais main css
.label{
    font-size:16px;
    color: #73AD21;
    font-weight: bold;
    
}

.label1{
    font-size:10px;
    color: #73AD21;
   font-weight: bold;
    
}

.small{
    color: #73AD21;
    font-size:12px;
    font-weight: bold;
    padding-left: 25px;
}


.input{
    font-size:14px;
    font-weight: normal;
}

ion-icon {
    color: #73AD21;
}