<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="logout()">
        <ion-icon  name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>
      
      <div class="small" (click)="settings()">
        Benvindo Jailson Costa
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
     <ion-row>
        <ion-col>
           <ion-list lines="full"> 
            <ion-item >
                <ion-searchbar cancelButtonIcon  animated color="light" (ionInput)="getItems($event)"></ion-searchbar>
                <ion-avatar slot="end" (click)="scanCode()">
                    <img src="/assets/barcode.jpg">
                </ion-avatar>
            </ion-item>
          </ion-list>
        </ion-col>
     </ion-row>
  </ion-grid>

  <!--<ion-list lines="none">-->
  <ion-list >
    <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label><h2 class="headerbold">MRN </h2></ion-label>
          <ion-label><h2 class="headerbold" >Date </h2></ion-label>
          <ion-note slot="end"> <h2 class="headerbold" >Ori - Dest</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>

      <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label fixed><h2 class="header">TGST1BFCT22020123</h2></ion-label>
          <ion-label><h2 class="header" >25-07-2020</h2></ion-label>
          <ion-note slot="end"> <h2 class="header" >TGFG1 - BFCT2</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>
      <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label><h2 class="header">TGST1BFCT22020123 </h2></ion-label>
          <ion-label><h2 class="header" >25-07-2020 </h2></ion-label>
          <ion-note slot="end"> <h2 class="header" >TGFG1 - BFCT2</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>

      <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label><h2 class="header">TGST1BFCT22020123 </h2></ion-label>
          <ion-label><h2 class="header" >25-07-2020 </h2></ion-label>
          <ion-note slot="end"> <h2 class="header" >TGFG1 - BFCT2</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>
      <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label><h2 class="header">TGST1BFCT22020123 </h2></ion-label>
          <ion-label><h2 class="header" >25-07-2020 </h2></ion-label>
          <ion-note slot="end"> <h2 class="header" >TGFG1 - BFCT2</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>

      <ion-item-sliding animateItemSliding >
        <ion-item  (click)="showDetails(item)" >
          <ion-label><h2 class="header">TGST1BFCT22020123 </h2></ion-label>
          <ion-label><h2 class="header" >25-07-2020 </h2></ion-label>
          <ion-note slot="end"> <h2 class="header" >TGFG1 - BFCT2</h2></ion-note>  
        </ion-item>
      </ion-item-sliding>
  </ion-list>
</ion-content>