<ion-tabs> 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="generalinfo">
      <ion-icon name="folder-sharp"></ion-icon>
      <ion-label class="label">General Segment</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="transportinfo">
      <ion-icon name="bus-sharp"></ion-icon>
      <ion-label class="label">Transport</ion-label>
    </ion-tab-button> 
    
    <ion-tab-button tab="goodsinfo">
      <ion-icon name="reorder-four-sharp"></ion-icon>
      <ion-label class="label">Goods </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>