<ion-header>
  <ion-toolbar color="light">

    <div class="small" >
      Details [TGST1BFCT22020123]
    </div>
    <ion-buttons slot="start">
      <ion-button color="secondary" (click)="back()" >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
            <ion-label class="small">General Segment</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
            <ion-label class="small">Itinerary</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
            <ion-label class="small">Transport Information</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>
</ion-content>

