<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <div class="small">
      {{ "settings.geolocalization" | translate }}
    </div>
    <ion-buttons slot="start">
      <ion-button color="secondary" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-label class="small">{{"settings.general" | translate}}</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label1" stacked>{{"settings.latitude" | translate }}</ion-label>
              <ion-badge color="success" slot="end">{{latitude}}</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label1" stacked>{{"settings.longitude" | translate }}</ion-label>
              <ion-badge color="success" slot="end">{{longitude}}</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label1" stacked>{{"settings.distancePermited" | translate }}</ion-label>
              <ion-badge color="success" slot="end">{{distancePermited}} M</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


 
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-label class="small">{{"settings.cordenadasActuais" | translate}}</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
            <ion-label class="label1" stacked>{{"settings.latitude" | translate }}</ion-label>
            <ion-badge color="warning" slot="end">{{latitude}}</ion-badge>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
            <ion-label class="label1" stacked>{{"settings.longitude" | translate }}</ion-label>
            <ion-badge color="warning" slot="end">{{longitude}}</ion-badge>
          </ion-item>
          </ion-col>
       
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
            <ion-label class="label1" stacked>{{"settings.address" | translate }}</ion-label>
            <ion-badge color="danger" slot="end">{{address}}</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> 
            <ion-item>
            <ion-label class="label1" stacked>{{"settings.officeDistance" | translate }}</ion-label>
            <ion-badge color="danger" slot="end">{{distance}} KM</ion-badge>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
            <ion-label class="label1" stacked>{{"settings.estadoOperacoes" | translate }}</ion-label>
            <ion-badge color="danger" slot="end">{{estadoOperacoes}}</ion-badge>
            </ion-item>
          </ion-col>
       
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--<ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-label class="small">Google Maps </ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <div class="map-wrapper">
            <div id="map_center">
              <img src="assets/icon/location-marker.png" />
            </div>
            <div #map id="map"></div>
          </div>
        </ion-row>
       
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content> -->

  <!-- https://www.techiediaries.com/ionic-geolocation-google-maps-places-api/ -->